CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.bin
*.dis
*.elf
*.elf.map
*.hex
elf2uf2
.vscode
.cmake
*.out
generated
pico-sdk
pioasm
*.ninja*
*.a
